@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap);

.primary-button {
    border-radius: 8px;
    margin: 1rem 0 1.5rem 0;
    padding: 12px 24px;
    background-color: rgb(50, 145, 239);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    text-align: center;
}

.primary-button:hover {
    box-shadow:  0 0 7px rgba(47, 71, 95, 0.5);
}

.tag {
    border-radius: 0 10px ;
    margin: 1rem 0;
    padding: 5px 15px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    width: fit-content;
}

.summer {
    background-color: rgb(239, 144, 50);
}

.winter {
    background-color: rgb(50, 145, 239);
}

.trip {
    background-color: rgb(121, 76, 57);
}
