.google-map {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-bottom: 3rem;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.contact-page {
  width: 100%;
}

.contact-info-unit {
  border-radius: 8px;
  margin: 0;
  line-height: 2;
  align-items: center;
  text-align: start;
  width: 100%;
}

.contact-link {
  text-decoration: none;
}

.personal-detail {
  margin: .5rem 0;
  padding-right: .5rem;
}

.info-icon {
  width: 4rem;
  margin: 1rem;
}

.contact-page .split {
    background-color: rgba(50, 145, 239, .0);
    /* delete when form is working: */
    justify-content: center;
}

.formular {
  padding: 1rem;
  width: 100%;
  margin: 1rem 0;
  border-radius: 8px;
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(15, 31, 44, .5);
  border: 1px solid rgba(15, 31, 44, .5);
  margin: 1rem 0 0;
  padding: 0;
  border-radius: 4px;
}

#firstname, #lastname, #inputemail, #inputsubject, #inputmessage {
  padding: .7rem .5rem;
  width: 100%;
}

#inputmessage {
  min-height: 200px;
  max-height: fit-content;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(15, 31, 44, .5);
  border: 1px solid rgba(15, 31, 44, .5);
  margin: 1rem 0 0;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  #firstname, #lastname {
    width: 49.5%;
  }
}

/* delete when form is working: */
@media screen and (min-width: 600px) {
  .contact-page .split40 {
    width: 90% !important;
  }
}

@media screen and (min-width: 800px) {
  .contact-page .split40 {
    width: 70% !important;
  }
}

@media screen and (min-width: 992px) {
  .contact-page .split40 {
    width: 60% !important;
  }
}

@media screen and (min-width: 1024px) {
  .contact-page .split40 {
    width: 50% !important;
  }
}

@media screen and (min-width: 1200px) {
  .contact-page .split40 {
    width: 30% !important;
  }
}

/* @media screen and (min-width: 870px) {
  .contact-page .split40 {
    padding-right: 1rem;
  }

  .formular {
    margin: .5rem 0;
  }
}

@media only screen and (min-width: 1100px) {
  .contact-page {
    width: 80% !important;
  }
}

@media only screen and (min-width: 1300px) {
  .contact-page {
    width: 80% !important;
  }
} */