.google-map {
  overflow: hidden;
  height: 400px;
  width: 90%;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact-split {
  flex-flow: row wrap;
  width: 90%;
  
  justify-content: center;
  align-content: center;
}

.contact-info {
  margin-bottom: .5rem;
  width: 100%;
}

.formular {
  background-color: #ffffff;
  padding: 1rem;
  width: 100%;
  margin: .5rem 0 0;
  border-radius: 8px;
}

.details {
  background-color: #ffffff;
  border-radius: 8px;
  margin: .5rem 0;
  line-height: 2;
  align-items: center;
  width: 100%;
}

.personal-detail {
  margin: .5rem 0;
  padding-right: .5rem;
}

.contact-form-icon {
  width: 4rem;
  margin: 1rem;
}

form {
  text-align: center;
  
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(15, 31, 44, .5);
  border: 1px solid rgba(15, 31, 44, .5);
  margin: 1rem 0 0;
  padding: 0;
  border-radius: 4px;
}
#firstname, #lastname, #inputemail, #inputsubject, #inputmessage {
  padding: .7rem .5rem;
  width: 100%;
}

#inputmessage {
  min-height: 200px;
  max-height: fit-content;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(15, 31, 44, .5);
  border: 1px solid rgba(15, 31, 44, .5);
  margin: 1rem 0 0;
  border-radius: 4px;
}

.blue-bg {
  background-color: rgba(50, 145, 239, .1);
}

@media screen and (min-width: 992px) {
  .contact-split {
      width: 90%;
      margin: 1rem 0;
  }

  .contact-info{
      width: 40%;
  }

  .formular {
    width: 60%;
}

  .details {
    width: 95%;
  }

  #firstname, #lastname {
    width: 49.5%;
  }
}
@media screen and (min-width: 1200px) {
  .contact-split {
      width: 70%;
      margin: 1rem 0;
  }
}

@media screen and (min-width: 1392px) {
  .google-map {
    height: 600px;
    width: 70%;
  }
}