@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto&display=swap);

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  color: #0f1f2c;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  top: 72px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.container {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.small-container {
  justify-content: center;
  align-items: center;
  width: 90%;
}

.mini-container {
  justify-content: center;
  align-items: center;
  width: 90%;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 32px;
  margin: 1rem 0 1.5rem 0;
  padding: 0;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 26px;
  margin: 2rem 0;
  padding: 0;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 20px;
  margin: 1rem 0 1.5rem 0;
  /* padding: 0 0 1rem 0;
  border-bottom: solid 2px #0f1f2c; */
}

li {
    font-family: "Playfair Display", serif; 
}

p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: initial;
  margin: 0;
  padding: 0;
}

.light-blue {
  background-color: rgb(255, 255, 255);
}

.section-primary {
  margin: 1rem 0;
}

.text-section, .split-content-image {
  margin-bottom: 1rem;
}

.section-small {
  margin: 1rem .5rem;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .row {
    flex-wrap: nowrap;
    width: 80%;
  }

  .small-container {
    width: 90%;
  }

  .mini-container {
    width: 60%;
  }

  .section-small {
    margin: 1rem;
    padding: 0 1rem;
  }

  .text-section {
    padding: 7% 12%;
  }
}

@media screen and (min-width: 1025px) {
  .row {
    width: 60%;
  }

  .small-container {
    width: 60%;
  }

  .mini-container {
    width: 40%;
  }

  .text-section, .split-content-image {
    margin-bottom: 0;
  }

  .light-blue {
    background-color: rgba(50, 145, 239, .1);
  }
  
  .h1 {
    font-size: 40px;
  }

  .h2 {
    font-size: 28px;
  }

  .h3 {
    font-size:24px
  }
}

@media screen and (min-width: 1981px) {
  .container {
    max-width: 1980px;
    margin: 0 auto;
  }
} 