
.banner-image {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
}

.info-icon {
  width: 4rem;
  margin-bottom: .5rem;
}

.small-image {
  width: 100%;
}


@media screen and (min-width: 1025px) {
  .wrapper-small-gallery {
    align-items: stretch;
  }

  .small-gallery {
    margin: 0 1rem;
    box-shadow: 0 0 10px rgba(15, 31, 44, .1);
    /* background-color: rgba(15, 31, 44, .05); */
  }
}
 /*  .info {
    width: 70%;
  }

  .info-icon {
    width: 3.5rem;
    margin-bottom: 1rem;
  }
 */