nav {
  background-color: rgb(255, 255, 255);
  color: rgb(14, 31, 44);
  height: 4.5rem;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo {
  display: block;
  height: 3rem;
  margin: 0.5rem 0;
  padding-left: 1.5rem;
}

.navigation {
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: 0;
  padding: 0;
  position: fixed;
  right: -100%;
  top: 4.5rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
}

.navigation.active {
  right: 0;
}

.navigation li {
  font-weight: 300;
  list-style: none;
  margin: 1.2rem 0;
  cursor: pointer;
  text-align: center;
}

.nav-link {
  font-family: "Playfair Display", serif;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: rgb(14, 31, 44);
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
  padding: 0 1.5rem;
}

.nav-link:hover,
.nav-link:active {
  color: rgb(50, 145, 239);
}

.nav-link:active::before {
  content: "";
  position: absolute;
  bottom: 8px;
  background: rgb(50, 145, 239);
  width: 4.5rem;
  height: 3px;
}

.hamburger {
  display: block;
  cursor: pointer;
  padding-right: 1.5rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(50, 145, 239);
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (min-width: 1024px) {
  .navbar {
    padding: 0 0.5rem;
  }

  .logo {
    padding-left: 0;
    height: 2.7rem;
  }

  .navigation {
    right: 0.5rem;
    top: 0;
    flex-direction: row;
    width: auto;
    height: 4.5rem;
    min-height: auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    transition: none;
  }

  .navigation li {
    margin: 1rem 0;
  }

  .hamburger {
    display: none;
  }
}
