.quote-container {
  align-items: center;
  margin: 2rem 0;
  width: 100%;
}

.quote-container .container {
  margin: 0;
}

.quote {
  background-color: rgb(50, 145, 239);
}

.wave {
  position: relative;
  width: 100%;
  margin-top: -0.2rem;
}

.wave object {
  width: 100%;
}
