@import url(https://fonts.googleapis.com/?family=Playfair+Display:wght@600&family=Roboto&display=swap);

.pricing-table {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.title-row {
    background-color: rgb(50, 145, 239);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 550;
}

.odd-row {
    background-color: rgba(50, 145, 239, 0.05);
}

.even-row {
    background-color: rgb(255, 255, 255);
}

.term, .price {
    padding: .4rem .5rem;
}

.dog-pricing {
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 0;
}

.info-icon {
    width: 4rem;
    margin-bottom: .5rem;
  }

@media screen and (min-width: 640px) {
    .dog {
        flex-direction: row;
        align-items: center;
        margin: 1.5rem 0;
    }

    .dog-pricing {
        margin-right: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .table-row {
      flex-wrap: nowrap;
    }

    .term, .price {
        padding: 1rem;
    }
}