@import url(https://fonts.googleapis.com/?family=Playfair+Display:wght@600&family=Roboto&display=swap);

.pricing-info,
.reservation-info {
  text-align: start;
}

.pricing-table {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  width: 100%;
}

.table-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.table-title {
  background-color: rgb(50, 145, 239);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 550;
}

.term,
.price {
  padding: 1rem;
}

.reservation-info {
  margin-top: 2rem;
}

.dog {
    padding-top: 2rem;
  }

  .info-icon {
    width: 4rem;
    margin-bottom: 1rem;
  }

.contact-redirect-section {
  align-self: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .pricing-info .split50 {
    width: 100%;
  }

  .contact-redirect-section {
    width: 60%;
  }

  .contact-redirect-section .primary-button {
    width: 60%;
  }
}

@media only screen and (min-width: 820px) {
  .pricing-info .split50 {
    width: 50%;
  }

  .dog {
    padding-left: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
    
  .contact-redirect-section {
    width: 50%;
  }

  .contact-redirect-section .primary-button {
    width: 60%;
  }
}
