.split {
  width: 100%;
}

.split25 {
  width: 50%;
  padding: 0 1rem;
  align-items: center;
}

.text-section {
  text-align: start;
  padding: 1rem 0;
}

.quote-section {
  text-align: center;
  padding: 1rem 0 .5rem 0;;
}

.split30 {
  align-items: center;
}

.split50 img, .split35 img {
  width: 100%;
}

.split65 {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 500px) {
  .split25 {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .split {
    margin: .8rem 0;
    background-color: rgb(255, 255, 255);
  }

  .split30 {
    width: 33.3%;

  }

  .split35, .quote .split35 {
    width: 35%;
  }

  .split50 {
    width: 50%;
  }

  .split65, .quote .split65 {
    width: 65%;
    margin-bottom: 0;
  }

  .text-section, .quote-section {
    padding: 1rem;
  }
}

@media only screen and (min-width: 870px) {
  .split40 {
    width: 40%;
  }

  .split60 {
    width: 60%;
  }
}

@media only screen and (min-width: 1300px) {
  .text-section {
    padding: 2rem;
  }

  .quote-section {
    padding: 4rem;
  }
}

