
.split-content {
    flex-flow: row wrap;
    width: 90%;
    background-color: rgb(255, 255, 255);
  }

  .split-content-icons {
    flex-flow: row wrap;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  
  .left-content, .right-content {
    width: 100%;
  }
  
  .split-content-image {
    width: 100%;
  }

  .text-section, .text-section-small, .split-content-image {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 992px) {
    .text-section-small {
      padding: 5% 8%;
    } 
  }

  @media screen and (min-width: 1025px) {
    .split-content {
        width: 90%;
        margin: 1rem 0;
    }

    .left-content, .right-content {
        width: 50%;
    }

    .text-section, .text-section-small, .split-content-image {
      margin-bottom: 0;
    }

    .text-section {
      padding: 8% 12%;
    } 
}
  @media screen and (min-width: 1200px) {
    .split-content {
        width: 70%;
        margin: 1rem 0;
    }


}
  