@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto&display=swap);

.switcher {
  display: flex;
  align-items: center;
  color: rgb(14, 31, 44);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.switcher-top {
  display: flex;
  align-items: baseline;
  padding: 0 1rem;
}

#lang-list {
  display: none;
  justify-content: flex-end;
  position: absolute;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  background-color: rgb(255, 255, 255);
  padding: 0 1rem;
  margin-top: 1.4rem;
  width: 100%;
  height: fit-content;
}

.arrow {
  width: 1rem;
  margin-left: 1rem;
}

.lang {
  display: flex;
  align-items: baseline;
  margin: 1rem 0;
  color: rgb(14, 31, 44);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: left;
}

.flag {
  width: 2rem;
  height: auto;
  margin-right: 1rem;
  margin-bottom: -.2rem;
}
